.btn {
  background-color: black;
  border-color: red;
  color: red;
}

.jumbotron {
  background-color: #efecd5;
  text-align: center;
  font-size: 150%;
}

.user-order {
  display: none;
}

body {
  background-color: #f7f5e6;
  font-family: 'Kavivanar', cursive;
  list-style: none;
}

h3 {
  text-align: center;
}

.left-side {
  float: left;
  margin-right: 25px;
}

.toppings-alignment {
  padding: 10px;
  margin: 10px;
}
