body {
  background: linear-gradient(#874f4e, #4f1c1b);
  /*background: url("img/circles.png"); WHY CAN'T THIS WORK REEEE*/
  font-family: 'Kavivanar', cursive;
  list-style: none;
}

h3 {
  margin-top: 22px;
  text-align: center;
}

.btn {
  background-color: black;
  border-color: red;
  color: red;
}

.jumbotron {
  background-color: #efecd5;
  text-align: center;
  font-size: 150%;
}

.user-order {
  display: none;
}

.left-side {
  float: left;
  margin-right: 25px;
}

.toppings-alignment {
  padding: 10px;
  margin: 10px;
}

.info-card {
  background-color: #c6c4b4;
  padding: 10px;
}

.order-card {
  background-color: #c6c4b4;
  padding: 10px;
}

.small-stuff {
  color: white;
}
