.jumbotron {
  background-color: #efecd5;
  text-align: center;
}

.user-order {
  display: none;
}

body {
  background-color: #f7f5e6;
  font-family: 'Princess Sofia', cursive;
  list-style: none;
}
